ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ddd;
    width: 8%;
    border: 1px solid #555;
}

li a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 8px 16px;
}

li{
    text-align: left;
    border-bottom: 1px solid #555;
}

li:last-child{
    border-bottom: none;
}

li a.active{
    background-color: dodgerblue;
    color: white;
}

li a:hover:not(a.active){
    background-color: whitesmoke;
}