*{
    margin: 0;
}

ul{
    background-color: gold;
    padding: 10px;
    margin: 0;
    position: fixed;            /* If we set overflow:hidden and delete width and margin in line #11 & 12. Then navbar is not set in full page. */
    list-style-type: none;
    width: 100%;
    left: 0;
}

li{
    float: left;
}

li a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    font-size: 18px;
}

li a.active {
    background-color: goldenrod;
    color:white;
    border-radius: 50%;
}

li a:hover:not(a.active){
    background-color: whitesmoke;
    color: yellowgreen;
}
